body{
    margin: 0;
    margin-top: -21px;
}
header{
    margin: 0;
    background-color: #1D1D1D;
    color: white;
    text-align: center;
}

h1#title{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

figcaption{
    text-align: center;
}
