html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e6eaf7;
}
/* Raleway will be used everywhere */
header, h1, h2, h3, li, a, p {
    font-family: "Raleway", Helvetica, sans-serif;
}

h1 {
    font-weight: 200;
    padding-left: 2%;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

li {
    font-weight: 300;
}

a {
    color: black;
}

p {
    font-weight: 300;
    margin: 0 auto 16px auto;
}


/* Styling header to display logo and menu correctly.
See bottom of document for specific rules for small screens */
header {
    background-color: #274a97;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    height: 50px;
}

header a {
color: white;
text-decoration: none;
}

header ul {
float: right;
margin: 0;
padding-right: 50px;
}

header ul li {
position: relative;
list-style-type: none;
float: left;
}

header ul li a {
display: block;
padding: 0 15px;
line-height: 50px;
color: #cdcdcd;
}

/* Logo */
header .brand {
    float: left;
    font-size: 32px;
    margin-left: 50px;
    line-height: 50px;
}

/* Light up when hovering and other type of focus */
header ul li a:hover,
header ul li a:focus,
header ul li a:active,
header ul li.active a {
    color: #fff;
}

/* Drop-down menu on large screens */
#dropdown {
    background-color: #4d7ec0;
}

.dropdown {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    background: #5282bf;
    width: 100%;
    min-width: 160px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display: none;
}

.dropdown li {
    float: none;
}

.dropdown li a {
    color: white;
}

/* Light up when hovering and other type of focus */
.dropdown li a:hover,
.dropdown li a:focus,
.dropdown li a:active {
    background: #3969A6;
}

.dropdown.open {
    display: block;
}


/* Style rules for small screens, which doesn't conflict with rules for larger screens.
Rules that would have made a conflict are in the bottom of the sheet */
header.mobile {
    margin-bottom: 20px;
}

header.mobile > ul {
    padding-top: 50px;
    float: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #5282bf;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 5;
    text-align: center;
}

header.mobile > ul.open {
    display: block;
}

header.mobile > ul > li {
    float: none;
    text-align: left;
}

/* Hide mobile menu on large screens */
#mobilemenu {
    display: none;
}

header.mobile #mobilemenu {
    display: block;
}

header.mobile #mobilemenu .dropdown {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
}

header.mobile #mobilemenu .dropdown li {
    display: inline;
    padding: 0;
    margin: 0;
}

header.mobile #mobilemenu .dropdown li a {
    display: inline;
    font-size: 14px;
    line-height: 20px;
}

/* Hide menu button on large screens */
header .togglebutton {
    display: none;
}


/* Footer */
footer {
    background-color: #959dcc;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

footer ul {
    margin: 0 auto;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    display: inline;
    padding: 0 15px;
}

footer ul li a {
    text-decoration: none;
}



.text {
    width: 47%;
    float: left;
    padding-right: 1%;
    padding-left: 2%;
    padding-bottom: 3%;
}

.photo img {
    width: 47%;
    display: inline;
    padding-right: 2%;
    padding-left: 1%;
    padding-bottom: 3%;
}

/* Wrapper for all content on page */
#wrapper {
    min-height: 100%;
    position: relative;
}

/* Elevator animation on first entry */
#elevator {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#etasjespacer {
    display: none;
}

#foreningspacer {
    display: none;
}

/* Element to "fix" the footer to the bottom of the page */
.footerfixer {
    clear: both;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

/* On smaller screens, make text blocks and images wider, use special menu button */
@media (max-width: 860px){
    .text{
        width: 96%;
        float: left;
        padding-left: 2%;
        padding-bottom: 2%;
    }

    .photo img {
        display:block;
        width: 96%;
        padding-right: 2%;
        padding-left: 2%;
        padding-bottom: 40px;
    }

    header .togglebutton {
        display: block;
        position: absolute;
        height: 50px;
        width: 50px;
        right: 10px;
        top: 8px;
        z-index: 10;
    }

    header .togglebutton.close {
        right: 160px;
    }

    header .togglebutton img {
        max-width: 36px;
        max-height: 36px;
    }

    #etasjespacer {
        margin-top: 50px;
        text-align: center;
        display: block;
    }

    #foreningspacer {
        margin-top: 30px;
        text-align: center;
        display: block;
    }

}
