html, body {
	margin: 0;
	padding: 0;
}

h1 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 200;
}

h3 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400;
}

li {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
}

a {
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e6eaf7;
}

p {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
}

header {
    background-color: #274a97;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    height: 50px;
}

header .brand {
    float: left;
    font-size: 32px;
    margin-left: 50px;
    line-height: 50px;
}

header a {
    color: white;
    text-decoration: none;
}

header ul {
    float: right;
    margin: 0;
    padding-right: 50px;
}

header ul li {
    position: relative;
    list-style-type: none;
    float: left;
}

header ul li a {
    display: block;
    padding: 0 15px;
    line-height: 50px;
    color: #cdcdcd;
}

header ul li a:hover, header ul li a:focus, header ul li a:active, header ul li.active a {
    color: #fff;
}

.dropdown {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    background: #5282bf;
    width: 100%;
    min-width: 160px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display: none;
}

.dropdown.open {
    display: block;
}

.dropdown li {
    float: none;
}

.dropdown li a {
    color: white;
}

.dropdown li a:hover, .dropdown li a:focus, .dropdown li a:active {
    background: #3969A6;
}

header.mobile {
    margin-bottom: 20px;
}

header.mobile > ul {
    padding-top: 50px;
    float: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background: #5282bf;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 5;
    text-align: center;
}

header.mobile > ul.open {
    display: block;
}

header.mobile > ul > li {
    float: none;
    text-align: left;
}

#mobilemenu {
    display: none;
}

header.mobile #mobilemenu {
    display: block;
}

header.mobile #mobilemenu .dropdown {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    height: 20px;
    text-align: center;
}

header.mobile #mobilemenu .dropdown li {
    display: inline;
}

header.mobile #mobilemenu .dropdown li a {
    display: inline;
    font-size: 14px;
    line-height: 20px;
}

header .togglebutton {
    display: none;
}

header.mobile .togglebutton {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
    border-bottom: 10px double white;
    border-top: 3px solid white;
    content: "";
    height: 4px;
    width: 30px;
    z-index: 10;
}

header.mobile .togglebutton.close {
    right: 185px;
}

.title {
    position: relative;
    font-size: 48px;
    font-weight: 200;
    padding: 7px;
    padding-left: 10px;
}

.content {
    margin-left: 1%;
}

footer {
    background-color: #959dcc;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

footer ul {
    margin: 0 auto;
}

footer ul li {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
}

footer ul li a {
    text-decoration: none;
}

#dropdown {
    background-color: #4d7ec0;
}

.text {
    width: 50%;
    float: left;
    padding-right: 5px;
}

.mobile .photo img {
    display: block;
    width: 80%;
}

.photo img {
    width: 48%;
    display: inline;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

/* Element to "fix" the footer to the bottom of the page */
.footerfixer {
    clear: both;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}
